<form action="/add-to-cart" method="POST">
    <button type="submit" class="btn">Add to cart</button>
    <input type="hidden" name="id" value="<%= product?.id %>">
    <input type="hidden" name="from" value="<%= path %>">
</form>